html, body {
    height: 100%;
}
#root {
    height: 100%;
}
.body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.content {
    flex: 2 0 auto;
  }

.footer {
    flex: 1;
    padding: 20px;
    width: 100%;
    margin-bottom: auto;
}
.footer ul {
    font-size: 40px;
}

.footer li {
    margin: 0 1%;
}

.footer .nav-link {
    color: #6ABD86;
}

.footer .nav-link:hover {
    color: #FFA675;
}

.contact {
    height: 300px;
    display:flex;
    justify-content: space-around;
    text-align: center;
  }