form {
  margin: 20px;
  padding: 10px;
}
.error-text {
  margin: 20px;
  padding: 4px 0px 0px 40px ;
  height: 40px;
  width: auto;
  background-color:#ffa682 ;
  font: bolder;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  text-justify: center;
}

h1 {
  font-size: 100px!important;
}

.textArea {
  height: 100px!important;
}

.btn {
    background: #54A578!important;
    color: white!important
}

.btn:hover {
      background: #ffa682 !important;
    }