.navbar {
    background: #125c4f;
  }
  
.navbar a {
    color: white!important;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
}

.navbar a:hover {
    color: #54A578!important;
}

.navbar-collapse {
    justify-content: flex-end!important;
}

.navbar-nav .active {
    color: #ffa682!important;
    font-weight: bolder;
}